*{
    font-family: 'Roboto', sans-serif;
}
#container{
    background-color: rgb(54, 54, 54);
    color: rgb(219, 219, 219);
    width: 550px;
}

h1{
    color: rgb(219, 219, 219);
    background-color: rgb(54, 54, 54);
    font-size: 50px;
    border-radius: 10%;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
}

h3{
    font-size: 35px;
}

button{
    width: 200px;



    border-radius: 15px;
	padding: 10px 0;
	margin: auto;
}

.button {
    margin: 10px;
	color: #fff;
	background: #4a89ca;
	transition-duration: .4s, 1s, .5s;
	transition-property: background, border-radius, transform;
}

.button:hover {
	background: #d36a62;
	border-radius: 20px;
	transform: rotate(4deg);
}

.button:active {
	background: #a33830;
}

#darkMode{
    background-color: blue;
    box-sizing: border-box;
    width: 200px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
}
